body {
    background: ghostwhite;
    font-family: 'Courier New', Courier, monospace;
    text-indent: center;
}
h1 {
    text-align: center;
    color: black;
}
h2 {
    text-align: center;
    color: black;
}
p {
    text-align: center;
    justify-content: center;
    color: black;
}
.button1 {
    text-align: center;

}
.button2 {
    text-align: center;

}
.button3 {
    text-align: center;

}
button {
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid black;
    padding: 5px;
}